<p class="topTitle" style="text-align: center; display: block; margin-top: 100px; font-family: 'Work Sans', sans-serif; font-weight: 300; color: #707070;">
  Don't worry, follow this step</p>
<body class="text-center row justify-content-md-center">

<div class="col-md-auto card">
  <form class="form-resetPassword">
      <div class="row justify-content-md-center">
          <p class="col-md-auto" style="font-size: 45px; font-size: 35px; font-family: 'Work Sans' , sans-serif; font-weight: 200; color: #707070; margin-top: 20px;" >Reset Password</p>
      </div>
    <input type="email" id="inputEmail" [(ngModel)]="addressEmail" class="form-control" placeholder="Mail or Username" required autofocus [ngModelOptions]="{standalone: true}">
    <div class="row justify-content-md-center">
      <button class="send" (click)="sendResetPassword()">Reset Password</button>
    </div>
    <div class="bottomOfSend">
      <p style="margin-top: 20px;">Do you remember your password?<a class="otherSelection" routerLink="/login">&nbsp;Login!</a></p>
    </div>
    <div class="bottomOfSend">
        <p>Don't you a member.<a class="otherSelection"  routerLink="/register">&nbsp;Register!</a></p>
    </div>
  </form>
</div>
</body>
