<h1>HOME PAGE WORKED!</h1>

<div style="width: 500px; height: 500px; background-color: lightblue; margin-bottom: 30px;">
  <img #mushroom
       src="https://www.flaticon.com/premium-icon/icons/svg/280/280951.svg"
       style="width: 50px; height: 50px;" />
</div>

<button (click)="doIt()">Start</button>

<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
  <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
  </div>
  <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>
  <div class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
  </div>
  <div class="alert alert-info" role="alert">
    A simple info alert—check it out!
  </div>
  <div class="alert alert-light" role="alert">
    A simple light alert—check it out!
  </div>
  <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
  </div>