 <head><link rel="stylesheet" href="https://cdn.plyr.io/3.4.3/plyr.css">
 </head>
<body>
  <form>
  <div>
    <label id="umut">Select a video</label>
    <input id="videoI" type="file" accept="video/*" />
  </div>

  <div>
    <label>Select a subtitle</label>
    <input id="subtitle" type="file"  />
  </div>
  <button (click)="play()" type="submit">Get Info</button>
</form>
<section style="background-color: brown;">
 
  <video    width="500" id="video" playsinline controls>
       <source id="sourceVideo"  type="video/mp4">

  <!-- Captions are optional -->
  <track id="subtitles" kind="captions" label="English captions"   srclang="en" default>
</video>
</section>
</body>
