.form-signin {
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 1vw;
    font-size: 1vw;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 15px;
    height: 50px;
    border-radius: 8px;
    font-size: 17px;
    box-shadow: 0 2px 0px 0px rgba(128, 128, 128, 0.377);
    border: none;
    padding: 25px;
    color: #707070;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
  }
  .form-signin input[type="password"] {
    margin-bottom: 25px;
    height: 50px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    padding: 25px;
    box-shadow: 0 2px 0px 0px rgba(128, 128, 128, 0.377);
    color: #2c2b2b;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
  }

  button.signin {
    border-radius: 100px;
    text-decoration-line: none;
    text-align: center;
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #F7584A;
    color: #FAF7F7;
    box-shadow: 0 2px 0px 0px rgba(182, 5, 5, 0.377);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    border: none;
  }
  button.signin:hover {
    text-decoration-line: none;
    background-color: rgb(253, 110, 97);
  }
  .card {
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    width: 450px;
    background: linear-gradient(to left top, rgb(212, 194, 253), rgb(227, 247, 255));
    box-shadow: 0 5px 0 0 rgba(128, 128, 128, 0.274);
    border: none;
  }
  a.otherSelection {
    text-decoration-line: none;
    color: #638CD9;
    font-weight: 400;
  }
  .bottomOfLogin p {
    float: left;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    color: #707070;
    width: 100%;
    font-size: 16px;
  }
  

  
.box {
  width: 20%;
  margin: 0 auto;
   padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position:fixed;
  top:100px;
  left: 35%;
    transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
