
  <form autocomplete="off" (ngSubmit)="login()" class="form-register">
    <!-- MAIL STARTS -->
    <div class="form-group">
       <input type="text" id="inputEmail" [(ngModel)]="user.email" name="mail" placeholder="Email address" class="form-control" [ngModelOptions]="{standalone: true}"
        autofocus>
    </div>
    <!-- MAIL ENDS -->


    <!-- PASSWORD STARTS -->
    <div class="form-group">
       <input type="password" id="inputPassword" [(ngModel)]="user.password" name="password" placeholder="*****" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <!-- PASSWORD ENDS -->



    <button class="btn btn-lg btn-primary btn-block signin" type="submit">Sign in</button>

  </form>

<!-- <div  routerLink="/choosevideo">VİDEO SEÇ</div> -->