p.topTitle {
  font-size: 40px;
}

.form-register {
  width: 100%;
  max-width: 450px;
  margin: auto;
  margin-top: 35px;
}

.form-register .checkbox {
  font-weight: 400;
}

.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 1vw;
  font-size: 1vw;
}

.form-register .form-control:focus {
  z-index: 2;
}

.form-register input[type="text"] {
  margin-bottom: 25px;
  height: 50px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  padding: 25px;
  box-shadow: 0 2px 0px 0px rgba(128, 128, 128, 0.377);
  color: #2c2b2b;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  border: 2px solid rgb(255, 255, 255);
}

.form-register input[type="email"] {
  margin-bottom: 25px;
  height: 50px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  padding: 25px;
  box-shadow: 0 2px 0px 0px rgba(128, 128, 128, 0.377);
  color: #2c2b2b;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  border: 2px solid rgb(255, 255, 255);
}

.form-register input[type="password"] {
  margin-bottom: 25px;
  height: 50px;
  border-radius: 8px;
  font-size: 17px;
  border: none;
  padding: 25px;
  box-shadow: 0 2px 0px 0px rgba(128, 128, 128, 0.377);
  color: #2c2b2b;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  border: 2px solid rgb(255, 255, 255);
}

button.register {
  border-radius: 100px;
  text-decoration-line: none;
  text-align: center;
  display: block;
  width: 150px;
  padding: 10px;
  background-color: #F7584A;
  color: #FAF7F7;
  box-shadow: 0 2px 0px 0px rgba(182, 5, 5, 0.377);
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  border: none;
}
button.register:hover {
  text-decoration-line: none;
  background-color: rgb(253, 110, 97);
}

.card {
  margin-top: 5vh;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  width: 450px;
  background: linear-gradient(to left top, rgb(212, 194, 253), rgb(227, 247, 255));
  box-shadow: 0 5px 0 0 rgba(128, 128, 128, 0.274);
  border: none;
}

a.otherSelection {
  text-decoration-line: none;
  color: #638CD9;
  font-weight: 400;
}
.topOfRegister label {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #707070;
  font-size: 16px;
}
.bottomOfRegister p {
  margin-top: 25px;
  float: left;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #707070;
  width: 100%;
  font-size: 16px;
}
.errorText {
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 5px;
  color: #2c2b2b;
  background-color: #f7f7f7;
  width: 50%;
  box-shadow: 0 1px 0px 0px rgba(102, 101, 101, 0.377);
  position: absolute;
  margin-top: -75px;
  opacity: 0;
  display: none;
}
.errorLeft {
  margin-left: 350px;
}
.errorRight {
  margin-left: -210px;
}
