

<p class="topTitle" style="text-align: center; display: block; margin-top: 100px; font-family: 'Work Sans', sans-serif; font-weight: 300; color: #707070;">
  We’re happy to meet you :)</p>
<body class="text-center row justify-content-md-center">
  <div class="col-md-auto card">
    <form class="form-register" [formGroup]="registerForm" autocomplete="off" (ngSubmit)="signUp()">
      <input type="text" id="input" class="form-control formName" placeholder="Name" [(ngModel)]="name" [formControl]="registerForm.controls['name']" (keyup)="errorName()" autofocus>
      <div class="errorText errorRight errorName"> Name is required</div>


      <input type="text" id="input" class="form-control formSName" placeholder="Surname" [(ngModel)]="surname" [formControl]="registerForm.controls['surname']" (keyup)="errorSName()" autofocus>
      <div class="errorText errorLeft errorSName" > Surname is required </div>


      <input type="email" id="input" class="form-control formMail" placeholder="Mail" [(ngModel)]="mail" [formControl]="registerForm.controls['mail']" (keyup)="errorMail()" autofocus>
      <div class="errorText errorRight errorEmailReq"> Email is required</div>
        <div class="errorText errorRight errorEmailVal" style="margin-top: -20px"> Email is not valid type </div>


      <input type="text" id="input" class="form-control formUName" placeholder="Username" [(ngModel)]="username" [formControl]="registerForm.controls['username']" maxlength="40" (keyup)="errorUName()" autofocus>
      <div class="errorText errorLeft errorUserReq"> Username is required </div>
        <div class="errorText errorLeft errorUserLeast" style="margin-top: -20px"> Username should be at least 6 characters </div>

      <input type="password" id="input" class="form-control formPassword" placeholder="********" [(ngModel)]="password" [formControl]="registerForm.controls['password']" (keyup)="errorPassword()" >
      <div class="errorText errorRight errorPassReq"> Password
        is required </div>
      <div class="errorText errorRight errorPassLeast" style="margin-top: -20px"> Password
        should be at least 6 characters</div>
      <div class="errorText errorRight errorPassUpper" style="margin-top: 75px"> Password
        should have a upper character</div>
      <div class="errorText errorRight errorPassNum" style="margin-top: 150px"> Password
        should have a number</div>

      <input type="password" id="input" class="form-control formPassCheck" placeholder="********" [(ngModel)]="confirmPassword" (keyup)="passwordEquation()" [formControl]="registerForm.controls['confirmPassword']" >
      <div class="errorText errorLeft errorCheckPass"> Please check your password
      </div>


      <div class="topOfRegister">
          <input type="checkbox" id="termAndCond"/><label for="termAndCond">I've read the terms and conditions.</label>
      </div>
      <div class="row justify-content-md-center">
        <button class="register"  type="submit">Register</button>
      </div>
      <div class="bottomOfRegister">
        <p>Are you already a member? Please,<a class="otherSelection" routerLink="/login">&nbsp;Login</a></p>
      </div>
    </form>
  </div>
  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Failed to Register</h2>
      <a class="close">×</a>
      <div class="content">
        Please check all the input fields
      </div>
    </div>
  </div>

  <div *ngIf="spinner_show" >
    <img src="../assets/spinner.svg" />
  </div>
</body>
