

<p class="topTitle" style="text-align: center; display: block; margin-top: 100px; font-family: 'Work Sans', sans-serif; font-weight: 300; color: #707070;">
  We’re happy to meet you :)</p>
<body class="text-center row justify-content-md-center">
  <div class="col-md-auto card">
    <form class="form-register" [formGroup]="registerForm" autocomplete="off" (ngSubmit)="signUp()">
      <input type="text" id="input" class="form-control" placeholder="Name" [(ngModel)]="name" [formControl]="registerForm.controls['name']" autofocus>
      <div *ngIf="registerForm.controls['name'].touched && !registerForm.controls['name'].errors.isValid"  class="errorText"> Name is required</div>


      <input type="text" id="input" class="form-control" placeholder="Surname" [(ngModel)]="surname" formControlName="surname" autofocus>
      <div *ngIf="registerForm.controls['surname'].touched && !registerForm.controls['surname'].errors.isValid" class="errorText" > Surname is required </div>


      <input type="email" id="input" class="form-control" placeholder="Mail" [(ngModel)]="mail" formControlName="mail" autofocus>
      <div *ngIf="registerForm.controls['mail'].touched && !registerForm.controls['mail'].errors.isValid" class="errorText"> Email is required</div>
        <div *ngIf="registerForm.controls['mail'].touched && !registerForm.controls['mail'].errors.isEmail" class="errorText"> Email is not valid type </div>


      <input type="text" id="input" class="form-control" placeholder="Username" [(ngModel)]="username" formControlName="username" maxlength="40" autofocus>
      <div *ngIf="registerForm.controls['username'].touched && !registerForm.controls['username'].errors.isValid" class="errorText"> Username is required </div>
        <div *ngIf="registerForm.controls['username'].touched && !registerForm.controls['username'].errors.minLength" class="errorText"> Username should be at least 6 characters </div>

      <input type="password" id="input" class="form-control" placeholder="********" [(ngModel)]="password" formControlName="password" >
      <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].errors.isValid"  class="errorText"> Password
        is required </div>
      <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].errors.minLength" class="errorText"> Password
        should be at least 6 characters</div>
      <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].errors.upperCase" class="errorText"> Password
        should have a upper character</div>
      <div *ngIf="registerForm.controls['password'].touched && !registerForm.controls['password'].errors.hasNumber" class="errorText"> Password
        should have a number</div>

      <input type="password" id="input" class="form-control" placeholder="********" [(ngModel)]="confirmPassword" (change)="passwordEquation()" formControlName="confirmPassword">
      <div *ngIf="registerForm.controls['confirmPassword'].touched && !passwordEquation()" class="errorText"> Please check your password
      </div>


      <div class="topOfRegister">
          <input type="checkbox" id="termAndCond"/><label for="termAndCond">I've read the terms and conditions.</label>
      </div>
      <div class="row justify-content-md-center">
        <button class="register" type="submit">Register</button>
      </div>
      <div class="bottomOfRegister">
        <p>Are you already a member? Please,<a class="otherSelection" routerLink="/login">&nbsp;Login</a></p>
      </div>
    </form>
  </div>
  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>Failed to Register</h2>
      <a class="close">×</a>
      <div class="content">
        Please check all the input fields
      </div>
    </div>
  </div>

  <div *ngIf="spinner_show" >
    <img src="../assets/spinner.svg" />
  </div>
</body>
