.text {
    text-align: center;
    font-size: 4vw;
    font-weight: 100;
    margin-top:5vw;
}

.buttons {
    margin-top: 5vw;
}
.cinemaImg {
    width: 42.5vw;
    float: left;
    margin-left: 6vw;
    border: none;
    border-radius: 10px;
}

.libraryImg {
    width: 42.5vw;
    float: left;
    margin-left: 3vw;
    border: none;
    border-radius: 10px;
}

img.nextBtn {
    height: 50px;
    position: absolute;
    margin-top: 2vh;
    margin-left: 98vw;
}
