.selectionCard {
    padding-top: 13vh;
    padding-bottom: 11vh;
}

p {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Work Sans',sans-serif;
}

select {
    width: 50vw;
    height: 60px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid #70707050;
    box-shadow: 0 3px 0 0 #9292924b;
    font-weight: 400;
    font-family: 'Work Sans',sans-serif;
}

.countries {
    height: 26vh;
}

.nativeLang {
    height: 26vh;
}

.wantLang {
    height: 22vh;
}

img.nextBtn {
    height: 50px;
    position: absolute;
    margin-left: 40vw;
}