<div style="position: absolute; width: 100%;">
  <img routerLink="/home" class="nextBtn" height="50px" src="../assets/next.png" />
</div>
<p class="text">There are 3 ways to watch & learn</p>

<div class="buttons">
  <div class="video border" id="video-area">
    <div class="choose-video-block" >
      <form action="">
        <p style="margin-bottom:0vh">Drag your video here</p> <br>
      </form>
    </div>
  </div>
  <div class="thirdParty">
    <img class="thirdPartyImg" src="../assets/netflix.png" />
  </div>
  <div class="youtube">
    <img class="youtubeImg" src="../assets/youtube.png" />
  </div>
</div>


<!--  Subtitle
    
    <div class="choose-video-block" id="subtitle-area"> 
      <form action="">
          <p style = "margin-bottom:0vh">Drag your subtitle here</p> <br>
          <p style = "margin:0 0 0 0">or</p>
  
          <div class="upload-btn-wrapper">
              <button class="btn">Open Document</button>
              <input type="file" name="myfile" />
          </div>
      </form>
  </div> -->
