.text {
    text-align: center;
    font-size: 4vw;
    font-weight: 100;
    margin-top:5vw;
}

.buttons {
    margin-top: 4vw;
}
.video {
    width: 28.333vw;
    height: 70vh;
    float: left;
    margin-left: 6vw;
    border: 2px dashed black;
    border-radius: 10px;
    text-align: center;
}
.content-block {
    margin-top: 35vh;
}

.thirdParty {
    width: 28.333vw;
    height: 70vh;
    float: left;
    margin-left: 1.5vw;
    border: none;
    border-radius: 10px;
    background-color: black;
}

.thirdPartyImg {
    margin-left: 5vw;
    margin-top: 25vh;
    width: 18.333vw;
}

.youtube {
    width: 28.333vw;
    height: 70vh;
    float: left;
    margin-left: 1.5vw;
    border: none;
    border-radius: 10px;
    background-color: #d8d8d8;
}

.youtubeImg {
    margin-left: 5vw;
    margin-top: 25vh;
    width: 18.333vw;
}

img.nextBtn {
    height: 50px;
    position: absolute;
    margin-top: 2vh;
    margin-left: 2vw;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


