

  <!-------------------------- Header ------------------------------>
  
  <div class="header-block">
    <div routerLink="/register" class="back-btn-wrapper">
            <img class="back" src="https://i.hizliresim.com/GDXj2V.png" alt="back">
    </div>
    <p class="header">There are 3 ways to watch & learn.</p>
</div>
<!---------------------------------------------------------------->

<!-------------------------- Content ----------------------------->
<div class="main-block">
    <!-------------------------- Choose video ----------------------------->
    <div class="content-block" id = "drag-area" >
        <div class="choose-video-block" id="video-area"> 
            <form action="">
                <p style = "margin-bottom:0vh">Drag your video here</p> <br>
                <p style = "margin:0 0 0 0">or</p>
                    <div class="upload-btn-wrapper">
                    <button class="btn">Open Document</button>
                    <input type="file" accept="video/*" />
                </div>
            </form>
        
        </div>

        <div class="choose-video-block" id="subtitle-area"> 
                <form action="">
                    <p style = "margin-bottom:0vh">Drag your subtitle here</p> <br>
                    <p style = "margin:0 0 0 0">or</p>

                    <div class="upload-btn-wrapper">
                        <button class="btn">Open Document</button>
                        <input type="file" name="myfile" />
                    </div>
                </form>
            
            </div>
    </div>
    <!--------------------------------------------------------------------->
    <!-------------------------- netflix block ----------------------------->
    <div class="content-block" id="netflix">
        <img class="netflix-img" src="https://i.hizliresim.com/Q2GjZG.png" alt="netflix">
    </div>
    <!--------------------------------------------------------------------->
    <!-------------------------- youtube block ----------------------------->
    <div class="content-block" id="youtube">
        <img class="youtube-svg" src="https://i.hizliresim.com/6NGj53.png" alt="youtube">
    </div>
</div>
<!---------------------------------------------------------------->


  <a  routerLinkActive="active"><button (click)=" submit() " type="submit">Go to the player</button></a>
 
