 <div class="body">
    <div style="position: absolute; width: 100%;">
      <img class="nextBtn" height="50px" src="../assets/next.png" />
    </div>
    <p class="text">There are 3 ways to watch & learn</p>
  
    <div class="buttons">
      <div class="video" id="drag-area">
        <div class="content-block" >
          <div class="choose-video-block" id="video-area">
            <form action="">
              <p>Drag your video here</p><br>
              <p>or</p>
              <div class="upload-btn-wrapper">
                <button class="btn">Select a video</button>
                <input type="file" name="myfile" />
              </div>
            </form>
          </div>
          <div class="popup">
            popup
          </div>
        </div>
      </div>
      <div class="thirdParty">
        <img class="thirdPartyImg" src="../assets/netflix.png" />
      </div>
      <div class="youtube">
        <img class="youtubeImg" src="../assets/youtube.png" />
      </div>
    </div>
  </div>
  
  <div class="popText text-center" id="popup">
    <div class="choose-video-block" id="subtitle-area">
      <form action="">
        <p style="margin-top:8vh">Drag your subtitle here</p> <br>
        <p>or</p>
        <div class="upload-btn-wrapper">
          <button class="btn">Select a subtitle</button>
          <input type="file" name="myfile" />
        </div>
      </form>
    </div>
  </div>